.bottom-delicious-recipes{
    width: 89.825%;
    height: 440px;
    margin-top: 160px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.bottom-delicious-caption h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -4%;
    color: black;
}
.bottom-delicious-recipes_card{
    width: 100%;
    height: 316px;
    display: flex;
    justify-content: space-between;
}
.card{
    width: 290px;
    height: 316px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}
.recipe-reactIcon{
    width: 48px;
    height: 48px;
    position: absolute;
    left: 226px;
    top: 16px;
    background-color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipe-reactIcon img{
    width: 20.25px;
    height: 18px;

}
.bottom-recipe-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 200px;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}
.bottom-recipe-img img{
    width: 290px;
    height: 291.2px;
}
.recipe-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -4%;
    color: black;
}
.bottom-part{
    display: flex;
    align-items: center;
    gap: 24px;
}
.bottom-part_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 107px;
    height: 24px;
}
.bottom-part_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84px;
    height: 24px;
}
.bottom-part_left img,.bottom-part_right img{
    width: 24px;
    height: 24px;
}
.bottom-part_left span,.bottom-part_right span{
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -2%;
}