/* header section starts */
.header-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1280px;
    height: 1003px;
    margin: 120px 80px 0 80px;
}
.header-section_upper{
    width: 1280px;
    height: 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-section_upper_left{
    width: 777px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-section_caption h1{
    font-weight: 600;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -4%;
}
.header-section_profile{
    width: 699px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-profile_id_info{
    width: 163px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-profile_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-profile_image img{
    width: 50px;
    height: 50px;
}
.head-profile_info{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile-name{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -2%;
    color: black;
}
.profile-date{
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -2%;
    color: rgba(0,0,0,0.6);
}
.recipe-horizontal{
    height: 50px;
    border: 1px solid rgba(0,0,0,0.1);
}
.head-profile_prep_time{
    width: 113px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-profile_time_icon{
    width: 24px;
    height: 24px;
}
.head-profile_time_icon img{
    width: 24px;
    height: 24px;
}
.head-profile_prep_time_desc{
    width: 73px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.prep_title{
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 10%;
    color: black;
}
.prep_time{
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -2%;
    color: rgba(0,0,0,0.6);
}
.head-profile_cook_time{
    width: 118px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-profile_time_icon{
    width: 24px;
    height: 24px;
}
.head-profile_time_icon img{
    width: 24px;
    height: 24px;
}
.head-profile_cook_time_desc{
    width: 78px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cook_title{
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 10%;
    color: black;
}
.cook_time{
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -2%;
    color: rgba(0,0,0,0.6);
}
.head-profile_category{
    width: 87px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-profile_utils_icon{
    width: 24px;
    height: 24px;
}
.head-profile_utils_icon img{
    width: 24px;
    height: 24px;
}
.head-profile_category_name{
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -2%;
    color: rgba(0,0,0,0.6);
}
.header-section_right{
    width: 192px;
    height: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-section_right_card{
    width: 80px;
    height: 111px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card_icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(231,250,254,1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_icon img{
    width: 24px;
    height: 24px;
}
.icon_name{
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 10%;
    color: rgba(0,0,0,1);
}
.header-middle-section{
    width: 1280px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-middle-section_img{
    width: 840px;
    height: 600px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.header-middle-section_img img{
    width: 915.21px;
    height: 623px;
}
.play_button{
    position: absolute;
    left: 360px;
    top: 240px;
    width: 120px;
    height: 120px;
}
.play_button img{
    width: 120px;
    height: 120px;
}
.header-middle-section_nutrition{
    width: 400px;
    height: 600px;
    background-color: rgba(231,250,254,1);
    border-radius: 30px;
    padding: 32px;
    display: flex;
    flex-direction: column;
}
.nutrition-caption h4{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -4%;
    color: black;
}
.nutrition-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 336px;
    height: 260px;
    margin-top: 24px;
}
.info-card{
    width: 336px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.nutrition-name{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -4%;
    color: rgba(0,0,0,0.6);
}
.nutrition-value{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -4%;
    color: rgba(0,0,0,1);
}
.nutrition-comment{
    margin-top: auto;
    align-self: flex-end;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(0,0,0,0.6);
}
.header-bottom{
    width: 1280px;
    height: 84px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(0,0,0,0.6);
}
/* header section ends */

/* ingredient section starts */
.ingredient-section{
    width: 1280px;
    height: 993px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.ingredient-side{
    width: 840px;
    height: 918px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ingredient-side h3{
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -4%;
}
.main-dish{
    width: 840px;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-dish h4{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -4%;
    margin-bottom: 32px;
}
.main-dish ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 840px;
    height: 409px;
}
.main-dish ul li{
    width: 840px;
    height: 57px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    gap: 24px;
}
.checkbox{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.checkbox img{
    width: 24px;
    height: 24px;
}
.main-dish ul li span{
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -2%;
    color: black;
}

.main-dish ul li.checked span{
    text-decoration: line-through;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(0,0,0,0.6);
}


.sauce{
    width: 840px;
    height: 293px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sauce h4{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -4%;
    margin-bottom: 32px;
}
.sauce ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 840px;
    height: 409px;
}
.sauce ul li{
    width: 840px;
    height: 57px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    gap: 24px;
}
.sauce ul li span{
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -2%;
    color: black;
}

.sauce ul li.checked span{
    text-decoration: line-through;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: rgba(0,0,0,0.6);
}
.other-recipe-side{
    width: 400px;
    height: 993px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.other-recipe{
    width: 400px;
    height: 479px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.other-recipe h3{
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -4%;
    color: black;
}
.recipe-items-container{
    width: 400px;
    height: 408px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recipe-card{
    width: 400px;
    height: 120px;
}
.card-link{
    width: 400px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-img{
    width: 180px;
    height: 120px;
    border-radius: 20px;
    background-color: rgba(196,196,196,1);
    overflow: hidden;
}
.card-img img{
    width: 180px;
    height: 174.72px;
}
.card-content{
    width: 196px;
    height: 89px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-title {
    width: 196px;
    height: 56px; 
    overflow: hidden;
}

.card-title span {
    display: -webkit-box;             
    -webkit-line-clamp: 2;            
    -webkit-box-orient: vertical;     
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -4%;
    color: black;
    
}
.recipe-chef{
    width: 118px;
    height: 17px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -2%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(0,0,0,0.6);
}
.advertise{
    width: 400px;
    height: 434px;
    align-self: flex-end;
    margin-top: auto;
}
.advertise img{
    width: 400px;
    height: 434px;
}
/* ingredient section ends */

/* direction section starts */
.direction-section{
    width: 840px;
    height: 1387px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.direction-section h3{
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -4%;
    color: black;
}
.direction-container{
    width: 840px;
    height: 1311px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.direction-container li{
    width: 840px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 24px;
}
.direction-content{
    width: 792px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}
.direction-content h4{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -2%;
    color: black;
}
.direction-content span{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -2%;
    color: rgba(0,0,0,0.6);
}
.direction-content img{
    width: 792px;
    height: 400px;
    border-radius: 20px;
}
/* direction section ends */
